.main {
  background-color: #f5f5f5;
  position: relative;
  padding: 20px;
}

.carousel-item h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.carousel-item h6 {
  font-size: 1rem;
  font-weight: bold;
}

.carousel-item p {
  font-size: 1.25rem;
  color: #a9a9a9;

}

.carousel-controls button {
  /* display: inline-block; */
  position: absolute;
  top: 90%;
  padding: 10px 10px;
  cursor: pointer;
  height: 50px;
  /* display: flex;
  justify-content: space-between; */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) brightness(0) saturate(100%) !important;
}

.carousel-indicators [data-bs-target] {
  background-color: black;

}

.carousel-indicators {
  bottom: 25px;
  margin-left: 45%;
  /* border: 1px solid; */
  width: 100px;
  bottom: 25px;
}

.carousel-item {
  transition: none !important;
}

/* new changes */

.carousel-controls {
  bottom: 70px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}


.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
  width: 40px;
}

.carousel-control-prev {
  margin-left: 41%;
}

.carousel-control-next {
  margin-right: 43%;
}

/* rateing */
.rating {
  display: flex;
  font-size: 1.5rem;
  color: #ffd700;
}

.star {
  color: #a9a9a9;
}

.star.filled {
  color: #ffd700;
}

.star.half-filled:before {
  content: '★';
  color: #ffd700;
  position: absolute;
  width: 50%;
  overflow: hidden;
}

.size p,
.color p {
  font-size: 1rem;
  color: #000;
  font-weight: bold;
}

.reviews p,
.price p {
  font-size: 1rem;

  font-weight: bold;
}