<div class="container">
  <div class="main">
    <div *ngIf="currentProduct">
      <!-- Product Slider (Carousel) -->
      <div id="productCarousel" class="carousel slide" data-bs-ride="false" [attr.data-bs-interval]="false">
        <!-- Carousel inner -->
        <div class="carousel-inner">
          <div *ngFor="let product of products; let i = index" class="carousel-item"
            [class.active]="i === currentProductIndex">
            <div class="row my-3 m-md-0">
              <!-- Product Details -->
              <div class="col-lg-3 align-self-center">
                <h6>{{product.category}} <i class="fa-solid fa-minus"></i> </h6>
                <h4>{{product.title}}</h4>
                <p class="py-4">{{product.description}}</p>
                <!-- thumbnails -->
                <div class="d-flex">
                  <div *ngFor="let image of selectedImages; let imgIndex = index" class="position-relative">
                    <img class="w-100 border border-1 m-3" src='{{"../../assets/"+ image}}' alt="Image {{imgIndex + 1}}"
                      (click)="changeMainImage(image)">
                  </div>
                </div>
              </div>

              <!-- Selected Color's First Image {Main Imgage} -->
              <div class="col-lg-6" id="Touch" (swipeleft)="nextProduct()" (swiperight)="previousProduct()">
                <div class="main-img-carousel">
                  <div class="main-image" [ngClass]="{'animate__animated animate__tada': animateImage}">
                    <img class="w-100" [src]="'../../assets/' + mainImage" alt="Selected Color">
                  </div>
                </div>
              </div>

              <!-- Size, Reviews, Price, and Color Selection -->
              <div class="col-lg-3 align-self-center z-3">
                <!-- Size -->
                <div class="size">
                  <p>SIZE</p>
                  <div class="d-flex">
                    <div *ngFor="let size of sizeList">
                      <button type="button" style="width: 50px; height: 50px;" [disabled]="!product.size.includes(size)"
                        class="border border-2 btn text-center rounded-circle m-1"
                        [ngClass]="{'bg-dark text-white': selectedSize === size}" (click)="selectSize(size)">
                        {{size}}
                      </button>
                    </div>
                  </div>
                </div>

                <!-- Reviews -->
                <div class="reviews d-flex justify-content-between py-3">
                  <p class="m-0">REVIEWS</p>
                  <div class="rating">
                    <span class="star" *ngFor="let star of getStarsArray(); let i = index">
                      <ng-container *ngIf="i < filledStars">★</ng-container>
                      <ng-container *ngIf="i >= filledStars && i < filledStars + 1 && hasHalfStar">☆</ng-container>
                      <ng-container *ngIf="i >= filledStars + 1">☆</ng-container>
                    </span>
                  </div>
                </div>

                <!-- Price -->
                <div class="price d-flex justify-content-between py-3">
                  <p>PRICE</p>
                  <p>{{product.price | currency}}</p>
                </div>

                <!-- Color -->
                <div class="color py-3">
                  <p>COLOR</p>
                  <div class="d-flex justify-content-center">
                    <div *ngFor="let color of product.colors">
                      <button [ngStyle]="{'background-color': color.hex}" type="button"
                        class="btn rounded-circle m-2 p-3"
                        [ngClass]="{'border-2 border-dark': selectedColor === color.hex, 'border-4': selectedColor === color.hex}"
                        (click)="selectColor(color.hex)">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel controls -->
        <div class="carousel-controls">
          <button class="carousel-control-prev" type="button" (click)="previousProduct()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" (click)="nextProduct()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- Carousel indicators -->
        <div class="carousel-indicators">
          <button *ngFor="let product of products; let i = index" type="button"
            [attr.data-bs-target]="'#productCarousel'" [attr.data-bs-slide-to]="i"
            [class.active]="i === currentProductIndex" [attr.aria-current]="i === currentProductIndex ? 'true' : null"
            [attr.aria-label]="'Slide ' + (i + 1)" (click)="goToProduct(i, $event)">
          </button>
        </div>
        <!-- play video -->
        <div class="row">
          <div class="col-lg-8 justify-content-center">
            <button type="button" class="btn d-flex align-items-center" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop">
              <i class="fa-solid fa-circle-play mx-2"></i>
              <p class="m-0">Play Video</p>
            </button>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <iframe height="315" class="w-100" src="https://www.youtube.com/watch?v=oSLeuvYxK_Y"
                      title="YouTube video player" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 right-side">
            <button (click)="addToCart()" type="button" class="btn text-white bg-black btn-lg fs-6 py-2 px-4 mx-2">ADD
              TO
              CART</button>
            <i [ngClass]="isFavorite() ? 'fa-solid' : 'fa-regular'" (click)="toggleFavorite()" class="fa-heart"></i>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!currentProduct">
      <p>Loading product details...</p>
    </div>
  </div>
</div>
